<IfModule mod_rewrite.c>

    # Settings
    RewriteEngine on
    RewriteBase /

	# Index Routing
	RewriteRule ^/?$ index.php?page=example/index [L]

    # Auth Routing
    RewriteRule ^login?$ index.php?page=example/login [L]
    RewriteRule ^register?$ index.php?page=example/register [L]
    RewriteRule ^logout?$ index.php?page=example/logout [L]

    # Dashboard Routing
    RewriteRule ^dashboard?$ index.php?page=example/dashboard [L]

</IfModule>
<Files 403.shtml>
    order allow,deny
    allow from all
</Files>