<IfModule mod_rewrite.c>

    # Settings
    RewriteEngine on
    RewriteBase /

    # [!ONLY REMOVE IF YOU KNOW HOW TO REBUILD OR REPLACE!]
    RewriteRule ^nic/update?$ index.php?page=nic/update [L]
    RewriteRule ^nic/crone?$ index.php?page=nic/update [L]
    RewriteRule ^nic/version?$ index.php?page=nic/version [L]
    # [!ONLY REMOVE IF YOU KNOW HOW TO REBUILD OR REPLACE!]

	# Front Routing
	RewriteRule ^/?$ index.php?page=example/index [L]
    RewriteRule ^geoplugin?$ index.php?page=example/geoplugin [L]

    # Auth Routing
    RewriteRule ^login?$ index.php?page=example/login [L]
    RewriteRule ^register?$ index.php?page=example/register [L]
    RewriteRule ^logout?$ index.php?page=example/logout [L]
    RewriteRule ^mailverify?$ index.php?page=example/mailverify [L]

    # Back Routing
    RewriteRule ^dashboard?$ index.php?page=example/dashboard [L]
    RewriteRule ^dashboard/charge?$ index.php?page=example/charge [L]

</IfModule>
<Files 403.shtml>
    order allow,deny
    allow from all
</Files>