<IfModule mod_rewrite.c>

    RewriteEngine on
    RewriteBase /

	#auth
	RewriteRule ^/?$ index.php?page=example/login [L]

</IfModule>
<Files 403.shtml>
    order allow,deny
    allow from all
</Files>